html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #1e1e1ef0;
  font-family: Courier New;
}

hr {
  background-color: #414040;
  margin-top: 5px;
  margin-bottom: 15px;
}

.card-styled {
  color: white; 
  background-color: #1e1e1ecc; 
  border: 2px solid #414040;
}

.tooltip {

    position: absolute;
    text-align: left;
    max-width: 200px;
    max-height: 100px;
    padding: 8px;
    font: 14px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 2px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 50%;
  }

  input.radio_transactions[type="radio"]:checked {
    background-color: #75ccb8;
  }

  input.radio_size[type="radio"]:checked {
    background-color: rgb(194, 197, 30);
  }

  input.radio_bitcoins[type="radio"]:checked {
    background-color: orange;
  }