html, body {
  height: 100%;
  overflow: hidden;
}
.card.card-styled.fh {
  height: 100%;
}

.card.card-styled.filters,
.card.card-styled.clusters,
.card.card-styled.wallets {
  margin: .5rem;
}

.card.card-styled.graph,
.card.card-styled.timeline {
  margin: .5rem;
  margin-left: 0;
}

body {
  background-color: #1e1e1ef0;
  font-family: Courier New;
}

hr {
  background-color: #414040;
  margin-top: 5px;
  margin-bottom: 15px;
}

.card-styled {
  color: white; 
  background-color: #1e1e1ecc; 
  border: 2px solid #414040;
}

.tooltip {
    position: absolute;
    text-align: left;
    max-width: 450px;
    max-height: 500px;
    padding: 8px;
    font: 14px Courier New;
    background: #666969;
    color: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

input[type="checkbox"] {
  filter: hue-rotate(325deg);
  cursor: pointer;
}

input[type="range"] {
  filter: hue-rotate(325deg);
  cursor: pointer;
}

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 2px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid grey;
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
}

input.radio_transactions[type="radio"]:checked {
  background-color: #75ccb8;
}

input.radio_size[type="radio"]:checked {
  background-color: rgb(194, 197, 30);
}

input.radio_bitcoins[type="radio"]:checked {
  background-color: orange;
}

.btn-outline-info {
  color: #17a2b8;
  border-color: #17a2b8;
  background-color: transparent;
}

.slider-styled {
  height: 8px;
}

.slider-styled .noUi-connect {
  background: #17a2b8;
}

#n-clusters-slider.slider-styled .noUi-connects {
  background: #17a2b8;
}

.slider-styled .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px; /* half the width */
  border-radius: 9px;
  cursor: pointer;
}

.slider-styled,
.slider-styled .noUi-handle {
  box-shadow: none;
}

/* Hide markers on slider handles */
.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
  display: none;
}

.noUi-tooltip {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font: 14px Courier New;
}

.noUi-value {
  font-size: 14px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 10px;
}

.legend-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.legend-dot {
  border:1px solid white ;
}

.legend-dot.wallets {
  background-color: #ccc;
}

.legend-dot.transactions {
  background-size: contain;
  background-image: url("../images/bitcoin_image.png");
  transform: rotate(-15deg);
}

.legend-dot.in-arrow {
  background-color: #dc3545;
  opacity: 0.6;
}

.legend-dot.out-arrow {
  background-color: #69b3a2;
  opacity: 0.9;
}

.clustered .legend-dot.transactions {
  background-color: black;
}

.tick-text {
  font-size:  18px;
  paint-order: stroke;
  stroke: #000000;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  font-weight: 800;
}
