{% extends "card_layout.html.j2" %}
{% block classes %}clusters{% endblock %}
    {% block header_left %}
      Clusters 
    {% endblock %}
    {% block header_center %}
        <div id="n-clusters-slider" class="slider-styled" style="width: 300px"></div>
    {% endblock %}
    {% block header_right %}
        <div class="ml-auto" role="group">
            {# Selected value #}
            <button id="n_clusters_value" type="button" class="btn-sm disabled" class="ml-2" disabled>
            {% if g.n_clusters is none%}
              2
            {% else %}
              {{g.n_clusters}}
            {% endif %}
            </button>
            {# Start Button #}
            <button id="clusters-start-button" type="button" class="btn-sm btn-info" >
              {# Play #}
              <div class="text" role="status" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                  <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                </svg>
              </div>
                
                {# Spinner #}
                <div class="spinner spinner-border spinner-border-sm text-light" role="status" style="display: None"></div>
              {# End Button #}
              </button>
              <button id="clusters-reset-button" type="button" class="btn-sm btn-danger">Reset</button>
            </div>
    {% endblock %}
    {% block body %}
    {% endblock %}

