<div class="graph-header-wrapper" >
    <div class="graph-header container-fluid row d-flex m-0 pt-2 px-3" style="align-items: center;">
    {% if g.n_clusters is none%}
        Wallets and Transactions Graph 
        <div class="ml-auto" style="display: table;" role="group">
            <div class="form-check form-check-inline mx-0" style="display: display:table-cell; vertical-align:middle;">
                <span class="legend-dot wallets mx-1"></span>
                <label class="form-check-label" style="margin-top: .2rem">Wallets</label>
            </div>
    {% else %}
        Clustered Wallets and Transactions Graph 
        <div class="ml-auto clustered" style="display: table;" role="group">
            <div class="form-check form-check-inline mx-0" style="display: display:table-cell; vertical-align:middle; cursor:pointer">
                
                {% for i in range(g.n_clusters) %}
                    <span cluster="{{i}}" class="legend-dot wallets mx-1 "></span>
                {% endfor %}
                <label class="form-check-label" style="margin-top: .2rem">Wallets</label>
            </div>
    {% endif%}
            <div class="form-check form-check-inline mr-0 ml-2" style="display: display:table-cell; vertical-align:middle;">
                <span class="legend-dot transactions mx-1"></span>
                <label class="form-check-label" style="margin-top: .2rem">Transactions</label>
            </div>
            <div class="form-check form-check-inline mr-0 ml-2" style="display: display:table-cell; vertical-align:middle;">
                <span class="legend-dot in-arrow mx-1"></span>
                <label class="form-check-label" style="margin-top: .2rem">Input</label>
            </div>
            <div class="form-check form-check-inline mr-0 ml-2" style="display: display:table-cell; vertical-align:middle;">
                <span class="legend-dot out-arrow mx-1"></span>
                <label class="form-check-label" style="margin-top: .2rem">Output</label>
            </div>
        </div>
    </div>
</div>