{% if g.n_clusters is none%}
    <div class="graph-header-wrapper" >
    <div class="graph-header container-fluid row d-flex m-0 pt-2 px-3" style="align-items: center;">
        Wallets and Transactions Graph 
        <div class="ml-auto" style="display: table;" role="group">
        <div class="form-check form-check-inline mx-0" style="display: display:table-cell; vertical-align:middle;">
            <span class="legend-dot wallets mx-1"></span>
            <label class="form-check-label" style="margin-top: .2rem">Wallets</label>
        </div>
        <div class="form-check form-check-inline mr-0 ml-2" style="display: display:table-cell; vertical-align:middle;">
            <span class="legend-dot transactions mx-1"></span>
            <label class="form-check-label" style="margin-top: .2rem">Transactions</label>
        </div>
        </div>
    </div>
    {% else %}
    <div class="graph-header container-fluid row d-flex m-0 pt-2 px-3 clustered" style="align-items: center;">
        Clustered Wallets and Transactions Graph 
        <div class="ml-auto" style="display: table;" role="group">
        <div class="form-check form-check-inline mx-0" style="display: display:table-cell; vertical-align:middle;">
            
            {% for i in range(g.n_clusters) %}
                <span cluster="{{i}}" class="legend-dot wallets  mx-1 "></span>
            {% endfor %}
            <label class="form-check-label" style="margin-top: .2rem">Wallets</label>
        </div>
        <div class="form-check form-check-inline mr-0 ml-2" style="display: display:table-cell; vertical-align:middle;">
            <span class="legend-dot transactions mx-1  "></span>
            <label class="form-check-label" style="margin-top: .2rem">Transactions</label>
        </div>
        </div>
    </div>
    {% endif%}
</div>