<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bitcoin Viz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
   
    <div class="row">

      {# Column for Filters and Clusters #}
      <div class="col-4 m-0 p-0">

        {# Filters #}
        {% include 'filters_card.html.j2' %}
        
        {# Clusters #}
         {% include 'clusters_card.html.j2' %}        
        
        {# Wallets #}
         {% include 'wallets_card.html.j2' %}   
      </div>

      <div class="col-8 ml-0 p-0">
      {# Graph #}
       {% include 'graph_card.html.j2' %}  
      {# Timeline #}
       {% include 'timeline_card.html.j2' %}
      </div>
  

   </div>


    <script src="/static/js/utils.js"></script>
    <script src="/static/js/globals.js"></script>
    <script src="/static/js/filters.js"></script>
    <script src="/static/js/timeline.js"></script>
    <script src="/static/js/clusters.js"></script>

    <script src="/static/js/graph.js"></script>
    <script src="/static/js/wallets.js"></script>

    <script>
      $("div.wallets").css("height", window.innerHeight - $("div.filters").height() - $("div.clusters").height() - 50)
      $("div.graph").css("height", window.innerHeight - $("div.timeline").height() - 38)
    </script>

  </body>
</html>

    

  

