<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bitcoin Viz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
  </head>

  <body>

    <div class="row mx-0">

      {# Column for Filters and Clusters #}
      <div class="col-sm-4 p-0">

        {# Filters #}
        <div id="filters-card" class="card card-styled m-2">
          <div class="card-body px-2 pt-0 pb-2">

            <div class="container-fluid row d-flex m-0 pt-2" style="align-items: center;">
              Filters
              <div class="ml-auto" role="group">
                <button id="apply-button" type="button" class="btn-sm btn-info">Apply</button>
                <button id="reset-button" type="button" class="btn-sm btn-info">Reset</button>
              </div>
            </div>

            <hr/>

            <div class="row mx-0" style="margin-top: 2.5rem; margin-bottom: 2rem">
              <div class="col-3" style="font-size: 15px">
                Range bitcoins
              </div>
              <div class="col-8 mr-auto ml-auto">
                <div id="no-ui-slider" class="slider-styled"></div>
              </div>
            </div>

            <div class="row mx-0" style="margin-top: 1rem;">
              <div class="col-3" style="font-size: 15px">
                Type of transactions
              </div>
              <div class="col-9 text-center">
                  <div class="form-group form-check-inline m-0">
                    <input type="checkbox" class="form-check-input m-2" id="1-1-transactions" checked>
                    <label class="form-check-label" for="1-1-transactions">1-1</label>
                  </div>
                  <div class="form-group form-check-inline m-0">
                    <input type="checkbox" class="form-check-input m-2" id="1-N-transactions" checked>
                    <label class="form-check-label" for="1-N-transactions">1-N</label>
                  </div>
                  <div class="form-group form-check-inline m-0">
                    <input type="checkbox" class="form-check-input m-2" id="N-1-transactions" checked>
                    <label class="form-check-label" for="N-1-transactions">N-1</label>
                  </div>
                  <div class="form-group form-check-inline m-0">
                    <input type="checkbox" class="form-check-input m-2" id="N-N-transactions" checked>
                    <label class="form-check-label" for="N-N-transactions">N-N</label>
                  </div>
              </div>
            </div>
            
          </div>
        </div>
        
        {# Clusters #}
        <div id="clusters-card" class="card card-styled m-2">
           <div class="card-body p-0" style="display: table;">
            <div class="container-fluid row d-flex m-0 pt-2" style="align-items: center;">
              Clusters of wallets
                <select class="ml-auto" id="n_clusters">
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select> 
              <button type="button" class="btn-sm btn-info ml-auto" id="start-clustering-button">
                
                {# Play #}
                <div class="text" role="status" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                    <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                  </svg>
                </div>
                
                {# Spinner #}
                <div class="spinner spinner-border spinner-border-sm text-light" role="status" style="display: None"></div>
              </button>
              
            </div>
            <hr/>
            <div id="clusters-container" class="h-100" style="display: table-row;"></div>
          </div>
        </div>

      </div>

      {# Column for graph #}
      <div class="col-sm-8 p-0">

        {# Graph #}
        <div id="graph-card" class="card card-styled m-2" style="border-radius: .25rem .25rem .25rem .25rem;">
          <div class="card-body p-0" style="display: table;">
            <div class="container-fluid row d-flex m-0 pt-2 px-3" style="align-items: center;">
              Directed graph visualization
              <div class="ml-auto" style="display: table;" role="group">
                <div class="form-check form-check-inline mx-0" style="display: display:table-cell; vertical-align:middle;">
                  <span class="legend-dot wallets mx-2"></span>
                  <label class="form-check-label" style="margin-top: .2rem">Wallets</label>
                </div>
                <div class="form-check form-check-inline mr-0 ml-2" style="display: display:table-cell; vertical-align:middle;">
                  <span class="legend-dot transactions mx-2"></span>
                  <label class="form-check-label" style="margin-top: .2rem">Transactions</label>
                </div>
              </div>
            </div>
            <hr class="mb-0 mx-2"/>
            <div id="graph-container" class="h-100" style="display: table-row;">
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row mx-0">

      <div id="timeline-card" class="card card-styled mx-2 mb-2 w-100" style="border-radius: .25rem .25rem .25rem .25rem;">
        <div class="card-body p-3">

          {# Radio buttons inline #}
          <div class="row mx-1 d-flex justify-content-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input radio_transactions" type="radio" name="inlineRadioOptions" id="radio_transactions" value="transactions" checked>
              <label class="form-check-label" for="radio_transactions">Transactions</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input radio_bitcoins" type="radio" name="inlineRadioOptions" id="radio_bitcoins" value="bitcoins">
              <label class="form-check-label" for="radio_bitcoins">Tot. Bitcoins</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input radio_size" type="radio" name="inlineRadioOptions" id="radio_size" value="size">
              <label class="form-check-label" for="radio_size">Size</label>
            </div>
          </div>

          {# Timeline #}
          <div class="row mx-1">
            <div class="col-sm-auto p-0" id="col-y-axis">
            </div>
            <div class="col p-0" style="overflow: auto;" id="col-x-axis">
            </div>
          </div>

        </div>
      </div>

    </div>
    <script src="/static/js/globals.js"></script>
    <script src="/static/js/filters.js"></script>
    <script src="/static/js/timeline.js"></script>
    <script>
      $("#graph-card").css("height", window.innerHeight - $("#timeline-card").height() - 2*$("#graph-card").offset()["top"])
      $("#clusters-card").css("height", $("#graph-card").height() - $("#graph-card").offset()["top"] - $("#filters-card").height())
    </script>
    <script src="/static/js/clusters.js"></script>
    <script src="/static/js/graph.js"></script>
  </body>
</html>

    

  

