<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bitcoin Viz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>

    <div class="row mx-0 h-100">

      {# Floating menus #}
      <div class="col-sm-2 p-0 h-100">

        <div class="card card-styled m-2">
          <div class="card-body p-3">
            Data options
            <hr/>
            <button type="button" class="btn btn-block btn-info">Combine by address</button>
            <button type="button" class="btn btn-block btn-info" disabled>Uncombine all</button>
          </div>

        </div>

        <div class="card card-styled m-2">
          <div class="card-body p-3">
            Filter wallets
            <hr/>
          </div>
        </div>

        <div class="card card-styled m-2">
          <div class="card-body p-3">
            Blocks information
            <hr/>

            <div class="row">
              <div class="col">
                Selected indexes:
              </div>
              <div class="col">
                <ul>
                  <li>100</li>
                  <li>101</li>
                  <li>102</li>
                  <li>103</li>
                  <li>104</li>
                </ul>
              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="col">
                Total transactions:
              </div>
              <div class="col">
                12418932
              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="col">
                Total size in bytes:
              </div>
              <div class="col">
                38925796
              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="col">
                Avg bitcoin:
              </div>
              <div class="col">
                32.0383982
              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="col">
                Avg transactions:
              </div>
              <div class="col">
                24341
              </div>
            </div>
            <hr/>

          </div>
        </div>

      </div>

      {# Graph + Timeline #}
      <div class="col-sm-10 p-0 h-100">

        {# Graph #}
        <div id="graph-card" class="card card-styled mx-2 mt-2" style="border-radius: .25rem .25rem 0 0;">
          <div class="card-body p-3">
            Graph visualization
            <hr/>
          </div>

        </div>

        <div id="timeline-card" class="card card-styled mx-2 mb-2" style="border-radius: 0 0 .25rem .25rem; border-top: 0px;">
          <div class="card-body p-3">

            {# Radio buttons inline #}
            <div class="row mx-1 d-flex justify-content-center">
              <div class="form-check form-check-inline">
                <input class="form-check-input radio_transactions" checked type="radio" name="inlineRadioOptions" id="radio_transactions" value="transactions">
                <label class="form-check-label" for="radio_transactions">Transactions</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input radio_size" type="radio" name="inlineRadioOptions" id="radio_size" value="size">
                <label class="form-check-label" for="radio_size">Size</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input radio_bitcoins" type="radio" name="inlineRadioOptions" id="radio_bitcoins" value="bitcoins">
                <label class="form-check-label" for="radio_bitcoins">Tot. Bitcoins</label>
              </div>
            </div>

            {# Timeline #}
            <div class="row mx-1">
              <div class="col-sm-auto p-0" id="col-y-axis">
              </div>
              <div class="col p-0" style="overflow: auto;" id="col-x-axis">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/timeline.js"></script>
    <script>
      $("#graph-card").css("height", window.innerHeight - $("#timeline-card").height() - 2*$("#graph-card").offset()["top"])
    </script>

  </body>
</html>


{# <div class="card-header text-center">
                Blockchain Timeline
                <button class="close" style="font-size: unset;" id="arrow-down-timeline">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                  </svg>
                </button>
              </div> #}

    {# {# <div style="position: absolute; top: 20px; max-width: 25%; z-index: 10;">
      <div class="container px-0 floating-menu-container">
        <div class="card text-center h-100 w-100">
          <div class="card-header text-center">
            Anvedi come balla nando
          </div>
        </div>
      </div>
    </div> #}

    

  

