<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bitcoin Viz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v6.min.js"></script>

  </head>
  <body>
    <div style="position: absolute; bottom: 0; width: 100%; height: 160px;">
      <div class="container" style="max-width: 100%;">

        <div class="card ">
          <div class="card-body">
            <div id="timeline" ></div>
            <script src="/static/js/timeline.js"></script>
          </div>
        </div>

      </div>
    </div>
            {# <h5 class="card-title mb-0" style="position: center;">Timeline</h5> #}
  </body>
</html>