{# Graph #}
{% extends "card_layout.html.j2" %}
{% block classes %}wallets{% endblock %}
{% block header_left %}
    Wallets 
{% endblock %}
{% block header_right %}
        <button id="selection-reset-button" type="button" class="btn-sm btn-danger">Reset</button>

{% endblock %}
{% block body %}
    <div id="wallets-container" class='h-100'></div>
{% endblock %}